
<h4 class="display-4 m-4"  >
  <br>
  <br>
  <br>
 
 
  Checkout <i class="fas fa-shopping-bag"></i>
</h4>
<div class="row" >
  <div>
</div>
    <table class="table">
      <tr>
        <td>#</td>
        <td>Name</td>
        <td>Price</td>
        <td>Quantity</td>
        <!-- <td>Total</td> -->
        <td>Actions</td>
      </tr>
      <tr *ngFor="let product of items; let i = index">
        <td><img class="align-self-center" src="{{ product.image }}" style="width: 75px;"></td>
        <td><h5 class="mt-0 mb-1">{{ product.title }}</h5>
          {{ product.description }}</td>
        <td>{{ product.price | currency}} </td>
        <td><input type="number" value="1" min="1" class="form-control" ng-model="quantity"></td>
        <!-- <td> {{quantity*price}}</td> -->
        <td><button type="button" class="btn btn-sm btn-outline-danger" (click)="removeFromCart(i)">Remove</button></td>
        <td><button type="button" class="btn btn-sm btn-outline-success" [routerLink]="['/profile']" >Submit</button></td>

      </tr>
    </table>
  
  </div>
  
